<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./general/data') %>
    <style>
      .form-control {
        background-color: white;
        border: 1px;
        border-color: grey;
        border-style: double;
        border-radius: 70px;
        padding: 10px;
        padding-left: 20px;
        font-family: "Noto Sans KR", sans-serif;
        font-weight: 400;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
      }
      .dimigo-button {
        background-color: white;
        border: 1px;
        border-color: grey;
        border-style: double;
        border-radius: 70px;
        padding: 10px;
        font-family: "Noto Sans KR", sans-serif;
        font-weight: 400;
        margin: auto;
        margin-top: 10px;
        width: 100%;
      }
    </style>
  </head>

  <body>
    <!--Main Navigation-->
    <header>
      <%- include('./general/nav') %>
    </header>
    <form id="modify_apply" class="p-5">
      <div class="row">
        <div class="col">
          <label for="_place">목적지</label>
          <input type="text" id="_place" class="form-control" required />
        </div>
      </div>
      <div class="row" style="margin-top: 15px;">
        <div class="col">
          <div class="form-group">
            <label for="exampleFormControlTextarea2">상세 정보</label>
            <textarea
              class="form-control rounded-0"
              id="_detail"
              rows="10"
              required
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="numberExample">최대 명수(본인 포함)</label>
          <input
            type="number"
            id="_number"
            class="form-control"
            required
            min="1"
          />
        </div>
      </div>
      <div class="row" style="margin-top: 10px;">
        <div class="col">
          <label for="date_form">날짜</label>
          <input type="date" id="date_form" class="form-control" required />
        </div>
        <div class="col">
          <label for="time_form">시간</label>
          <input type="time" id="time_form" class="form-control" required />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button
            class="dimigo-button animated fadeIn"
            type="submit"
            style="margin-top: 20px;"
          >
            글쓰기
          </button>
        </div>
      </div>
    </form>
    <script>
      $(function () {
        $("#modify_apply").submit((event) => {
          event.preventDefault();
          const dest = $("#_place").val();
          const detail = $("#_detail").val();

          const date = $("#date_form").val();
          const time = $("#time_form").val();
          const fill = $("#_number").val();
          $.ajax({
            url: "/apply",
            type: "POST",
            data: { dest, detail, date, time, fill },
          })
            .done(() => {
              alert("success");
              location.href = "/list";
            })
            .fail((req, status, err) => {
              alert(JSON.parse(req.responseText).message);
            });
        });
      });
    </script>
  </body>
</html>
