<!DOCTYPE html>
<html>
  <head>
    <title>로그인</title>

    <style>
      * {
        font-family: "Noto Sans KR", sans-serif;
      }
      p {
        font-family: "Noto Sans KR", sans-serif;
      }
      input {
        background-color: white;
        font-family: "Noto Sans KR", sans-serif;
      }
      button {
        font-family: "Noto Sans KR", sans-serif;
      }
      .dimigo-button {
        background-color: white;
        border: 1px;
        border-color: grey;
        border-style: double;
        border-radius: 70px;
        padding: 10px;
        font-family: "Noto Sans KR", sans-serif;
        font-weight: 400;
        margin-left: auto;
        margin-right: auto;
        width: 240px;
      }
    </style>
  </head>

  <body>
    <%- include('../general/data') %>
    <!--Main Navigation-->
    <div
      class="d-flex justify-content-center flex-column"
      style="height: 100vh;"
    >
      <form id="login" class="text-center p-5">
        <p class="h4 mb-4">Sign in</p>

        <!-- Email -->
        <input
          type="text"
          id="dimigoId"
          class="form-control mb-4"
          placeholder="디미고 아이디"
          required
        />

        <!-- Password -->
        <input
          type="password"
          id="dimigoPw"
          class="form-control mb-4"
          placeholder="디미고 비밀번호"
          required
        />

        <!-- Sign in button -->
        <button class="dimigo-button animated fadeInUp" type="submit">
          로그인
        </button>
      </form>
    </div>
    <script>
      $(function () {
        $("#login").submit((event) => {
          event.preventDefault();
          const id = $("#dimigoId").val();
          const pw = $("#dimigoPw").val();
          $.ajax({
            url: "/users/login",
            type: "POST",
            data: { id, pw },
          })
            .done(() => {
              location.href = "/list";
            })
            .fail((request, status, error) => {
              if (request.status == 404) {
                alert("계정정보를 확인해 주세요!");
              } else {
                alert("잠시만 기다렸다가 다시 시도해주세요!");
              }
            });
        });
      });
    </script>
  </body>
</html>
